.theme-button{
    background:rgb(45, 38, 118);
    padding:5px 20px !important;
    color:#fff !important;
    border-radius: 5px;
}
.theme-button:hover{
    background: #fff;
    box-shadow: rgb(45, 38, 118) 0px 0px 10px -2px;
    transition: .5s;
    border: 1px solid rgb(45, 38, 118);
    color: rgb(45, 38, 118) !important;
}


